.menu-div {
    height: 10vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
}

.element-div {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-weight: 700;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-menu {
    font-size: 30px;
}

.content-menu {
    text-align: center;
    font-weight: 500;
}

a {
    text-decoration: none;
    color: green;
    width: 100%;
}

.mapa {
    width: 100%;
    height: 40vh;
    background-image: url("../../public/mapa.jpeg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.familias {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 90%;
    margin-top: 4vh;
    margin-bottom: 4vh;
}

.text-familias {
    font-size: 20px;
    font-weight: 500;
    text-align: left;
    margin-bottom: 20px;
    width: 80%;
}

.familias img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border: 5px solid black;
}

.familias-pack {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo-familias {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
    .menu-div {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        margin-bottom: 50px;
    }

    .header-menu {
        margin: 0;
    }

    .content-menu {
        margin: 0;
    }

    .mapa {
        height: 30vh;
    }

    .contact a {
        width: 80%;
    }

    .familias {
        grid-template-columns: repeat(1, 1fr);
    }
}